In [ ]:
import pandas as pd
cardataset={'cars': ["BMW","Ford","Indica"],'price': [30000000,2000000,500000]}
mydata=pd.DataFrame(cardataset)
print(mydata)

     cars     price
0     BMW  30000000
1    Ford   2000000
2  Indica    500000

In [ ]:
print(mydata.loc[0])

cars          BMW
price    30000000
Name: 0, dtype: object

In [ ]:
print(pd.__version__)

1.3.5

In [ ]:
#Series
a=['ashok','anbu','bala']
listnames=pd.Series(a)
print(listnames)

0    ashok
1     anbu
2     bala
dtype: object

In [ ]:
#index
listnames=pd.Series(a,index=["1st_student","2nd_student","3rd_student"])
print(listnames)

1st_student    ashok
2nd_student     anbu
3rd_student     bala
dtype: object

In [ ]:
#returning the second student
print(listnames["2nd_student"])

anbu

In [ ]:
#calories burnt in each day
calories={'Day1':150,'Day2':230,'Day3':450,'Day4':240}
listcalories=pd.Series(calories)
print(listcalories)

Day1    150
Day2    230
Day3    450
Day4    240
dtype: int64

In [ ]:
#Alternate method
#calories burnt in each day
calories=[150,230,450,240]
listcalories=pd.Series(calories,index=["Day1","Day2","Day3","Day4"])
print(listcalories)

Day1    150
Day2    230
Day3    450
Day4    240
dtype: int64

In [ ]:
# Create a Series using only data from "day1" and "day2"
listcalories=pd.Series(calories,index=["Day1","Day2"])
print(listcalories)

Day1    150
Day2    230
dtype: int64

In [ ]:
#Load Files Into a DataFrame
mydata.to_csv('carinfo.csv')

In [ ]:
carinformation=pd.read_csv('carinfo.csv')
print(carinformation)

   Unnamed: 0    cars     price
0           0     BMW  30000000
1           1    Ford   2000000
2           2  Indica    500000

In [ ]:
print(mydata)

     cars     price
0     BMW  30000000
1    Ford   2000000
2  Indica    500000

In [ ]:
mydata.head(2)

   cars     price
0   BMW  30000000
1  Ford   2000000

In [ ]:
mydata.tail(1)

     cars   price
2  Indica  500000

In [ ]:
mydata.describe()

              price
count  3.000000e+00
mean   1.083333e+07
std    1.661576e+07
min    5.000000e+05
25%    1.250000e+06
50%    2.000000e+06
75%    1.600000e+07
max    3.000000e+07

In [ ]:
print(mydata.shape)

(3, 2)

In [ ]:
print(mydata)

     cars     price
0     BMW  30000000
1    Ford   2000000
2  Indica    500000

In [ ]:
mydata['price'][2]=250000
print(mydata)

     cars     price
0     BMW  30000000
1    Ford   2000000
2  Indica    250000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#change index
mydata.index=[1,2,3]
print(mydata)

     cars     price
1     BMW  30000000
2    Ford   2000000
3  Indica    250000